openapi: 3.2.0
info:
  title: Skimmer Public Customers API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Customers
  description: Pool-service customers and their activity logs.
paths:
  /Customers:
    get:
      tags:
      - Customers
      summary: List customers
      responses:
        '200':
          description: An array of customers.
      operationId: getCustomers
      x-operation-id-source: derived
    put:
      tags:
      - Customers
      summary: Update an existing customer
      responses:
        '200':
          description: The updated customer.
      operationId: putCustomers
      x-operation-id-source: derived
    post:
      tags:
      - Customers
      summary: Create a new customer
      responses:
        '201':
          description: The created customer.
      operationId: postCustomers
      x-operation-id-source: derived
  /Customers/search:
    get:
      tags:
      - Customers
      summary: Search customers
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of customers.
      operationId: getCustomersSearch
      x-operation-id-source: derived
  /Customers/{id}:
    get:
      tags:
      - Customers
      summary: Get one customer by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single customer.
      operationId: getCustomersById
      x-operation-id-source: derived
    delete:
      tags:
      - Customers
      summary: Delete a customer
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted.
      operationId: deleteCustomersById
      x-operation-id-source: derived
  /Customers/Activate:
    post:
      tags:
      - Customers
      summary: Activate a customer
      responses:
        '200':
          description: The customer was activated.
      operationId: postCustomersActivate
      x-operation-id-source: derived
  /Customers/Deactivate:
    post:
      tags:
      - Customers
      summary: Deactivate a customer
      responses:
        '200':
          description: The customer was deactivated.
      operationId: postCustomersDeactivate
      x-operation-id-source: derived
  /CustomerActivityLogs:
    get:
      tags:
      - Customers
      summary: List customer activity logs
      responses:
        '200':
          description: An array of customer activity logs.
      operationId: getCustomerActivityLogs
      x-operation-id-source: derived
    put:
      tags:
      - Customers
      summary: Update a customer activity log
      responses:
        '200':
          description: The updated activity log.
      operationId: putCustomerActivityLogs
      x-operation-id-source: derived
    post:
      tags:
      - Customers
      summary: Create a customer activity log
      responses:
        '201':
          description: The created activity log.
      operationId: postCustomerActivityLogs
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Sieve-style filter expression using operators such as ==, !=, >, <, >=, <=, @= (contains), _= (starts with), _-= (ends with), and their case-insensitive (*) and negated (!) variants. Combine with commas (e.g. BillingState==TX,BillingCity==Houston).
      schema:
        type: string
    Sorts:
      name: sorts
      in: query
      required: false
      description: Comma-delimited sort fields; prefix a field with '-' for descending (e.g. -CreatedAt). Sieve-style.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
