openapi: 3.2.0
info:
  title: Skimmer Public Quotes API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Quotes
  description: Sales quotes / estimates.
paths:
  /Quotes:
    get:
      tags:
      - Quotes
      summary: List quotes
      parameters:
      - name: customerId
        in: query
        required: false
        description: Filter quotes by customer.
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: Include deleted quotes.
        schema:
          type: boolean
      responses:
        '200':
          description: An array of quotes.
      operationId: getQuotes
      x-operation-id-source: derived
  /Quotes/{id}:
    get:
      tags:
      - Quotes
      summary: Get one quote by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single quote with totals, customer, and locations.
      operationId: getQuotesById
      x-operation-id-source: derived
components:
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
