openapi: 3.2.0
info:
  title: Skimmer Public Service Locations API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Service Locations
  description: Physical service sites; the unit Skimmer bills on.
paths:
  /ServiceLocations:
    get:
      tags:
      - Service Locations
      summary: List service locations
      responses:
        '200':
          description: An array of service locations.
      operationId: getServiceLocations
      x-operation-id-source: derived
    put:
      tags:
      - Service Locations
      summary: Update a service location
      responses:
        '200':
          description: The updated service location.
      operationId: putServiceLocations
      x-operation-id-source: derived
    post:
      tags:
      - Service Locations
      summary: Create a service location
      responses:
        '201':
          description: The created service location.
      operationId: postServiceLocations
      x-operation-id-source: derived
  /ServiceLocations/search:
    get:
      tags:
      - Service Locations
      summary: Search service locations
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of service locations.
      operationId: getServiceLocationsSearch
      x-operation-id-source: derived
  /ServiceLocations/{id}:
    get:
      tags:
      - Service Locations
      summary: Get one service location by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single service location.
      operationId: getServiceLocationsById
      x-operation-id-source: derived
    delete:
      tags:
      - Service Locations
      summary: Delete a service location
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted.
      operationId: deleteServiceLocationsById
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Sieve-style filter expression using operators such as ==, !=, >, <, >=, <=, @= (contains), _= (starts with), _-= (ends with), and their case-insensitive (*) and negated (!) variants. Combine with commas (e.g. BillingState==TX,BillingCity==Houston).
      schema:
        type: string
    Sorts:
      name: sorts
      in: query
      required: false
      description: Comma-delimited sort fields; prefix a field with '-' for descending (e.g. -CreatedAt). Sieve-style.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
