openapi: 3.2.0
info:
  title: Skimmer Public Work Orders API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Work Orders
  description: Repair and service jobs, and work order types.
paths:
  /WorkOrders:
    put:
      tags:
      - Work Orders
      summary: Update a work order
      responses:
        '200':
          description: The updated work order.
      operationId: putWorkOrders
      x-operation-id-source: derived
    post:
      tags:
      - Work Orders
      summary: Create a work order
      responses:
        '201':
          description: The created work order.
      operationId: postWorkOrders
      x-operation-id-source: derived
  /WorkOrders/search:
    get:
      tags:
      - Work Orders
      summary: Search work orders
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of work orders.
      operationId: getWorkOrdersSearch
      x-operation-id-source: derived
  /WorkOrders/{id}:
    get:
      tags:
      - Work Orders
      summary: Get one work order by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single work order.
      operationId: getWorkOrdersById
      x-operation-id-source: derived
  /WorkOrderTypes:
    get:
      tags:
      - Work Orders
      summary: List work order types
      responses:
        '200':
          description: An array of work order types.
      operationId: getWorkOrderTypes
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Sieve-style filter expression using operators such as ==, !=, >, <, >=, <=, @= (contains), _= (starts with), _-= (ends with), and their case-insensitive (*) and negated (!) variants. Combine with commas (e.g. BillingState==TX,BillingCity==Houston).
      schema:
        type: string
    Sorts:
      name: sorts
      in: query
      required: false
      description: Comma-delimited sort fields; prefix a field with '-' for descending (e.g. -CreatedAt). Sieve-style.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
