openapi: 3.2.0
info:
  title: Skimmer Public Products API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Products
  description: Product catalog, categories, and prices.
paths:
  /Products:
    get:
      tags:
      - Products
      summary: List products
      responses:
        '200':
          description: An array of products.
      operationId: getProducts
      x-operation-id-source: derived
    put:
      tags:
      - Products
      summary: Update a product
      responses:
        '200':
          description: The updated product.
      operationId: putProducts
      x-operation-id-source: derived
    post:
      tags:
      - Products
      summary: Create a product
      responses:
        '201':
          description: The created product.
      operationId: postProducts
      x-operation-id-source: derived
  /Products/search:
    get:
      tags:
      - Products
      summary: Search products
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of products.
      operationId: getProductsSearch
      x-operation-id-source: derived
  /Products/prices:
    put:
      tags:
      - Products
      summary: Bulk update product prices
      responses:
        '200':
          description: Prices updated.
      operationId: putProductsPrices
      x-operation-id-source: derived
  /Products/{id}:
    get:
      tags:
      - Products
      summary: Get one product by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single product.
      operationId: getProductsById
      x-operation-id-source: derived
    delete:
      tags:
      - Products
      summary: Delete a product
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted.
      operationId: deleteProductsById
      x-operation-id-source: derived
  /ProductCategories:
    get:
      tags:
      - Products
      summary: List product categories
      responses:
        '200':
          description: An array of product categories.
      operationId: getProductCategories
      x-operation-id-source: derived
    put:
      tags:
      - Products
      summary: Update a product category
      responses:
        '200':
          description: The updated product category.
      operationId: putProductCategories
      x-operation-id-source: derived
    post:
      tags:
      - Products
      summary: Create a product category
      responses:
        '201':
          description: The created product category.
      operationId: postProductCategories
      x-operation-id-source: derived
  /ProductCategories/search:
    get:
      tags:
      - Products
      summary: Search product categories
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of product categories.
      operationId: getProductCategoriesSearch
      x-operation-id-source: derived
  /ProductCategories/{id}:
    get:
      tags:
      - Products
      summary: Get one product category by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single product category.
      operationId: getProductCategoriesById
      x-operation-id-source: derived
    delete:
      tags:
      - Products
      summary: Delete a product category
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted.
      operationId: deleteProductCategoriesById
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Sieve-style filter expression using operators such as ==, !=, >, <, >=, <=, @= (contains), _= (starts with), _-= (ends with), and their case-insensitive (*) and negated (!) variants. Combine with commas (e.g. BillingState==TX,BillingCity==Houston).
      schema:
        type: string
    Sorts:
      name: sorts
      in: query
      required: false
      description: Comma-delimited sort fields; prefix a field with '-' for descending (e.g. -CreatedAt). Sieve-style.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
