openapi: 3.2.0
info:
  title: Skimmer Public Invoices API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Invoices
  description: Invoices and billable service activity.
paths:
  /Invoices:
    get:
      tags:
      - Invoices
      summary: List invoices by date
      responses:
        '200':
          description: An array of invoices.
      operationId: getInvoices
      x-operation-id-source: derived
  /Invoices/search:
    get:
      tags:
      - Invoices
      summary: Search invoices
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of invoices.
      operationId: getInvoicesSearch
      x-operation-id-source: derived
  /Invoices/{id}:
    get:
      tags:
      - Invoices
      summary: Get one invoice by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single invoice.
      operationId: getInvoicesById
      x-operation-id-source: derived
  /Billing:
    get:
      tags:
      - Invoices
      summary: Get billable service activity
      description: Retrieves billable service activity meeting the filter criteria.
      parameters:
      - $ref: '#/components/parameters/Filters'
      responses:
        '200':
          description: Billable service activity.
      operationId: getBilling
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Sieve-style filter expression using operators such as ==, !=, >, <, >=, <=, @= (contains), _= (starts with), _-= (ends with), and their case-insensitive (*) and negated (!) variants. Combine with commas (e.g. BillingState==TX,BillingCity==Houston).
      schema:
        type: string
    Sorts:
      name: sorts
      in: query
      required: false
      description: Comma-delimited sort fields; prefix a field with '-' for descending (e.g. -CreatedAt). Sieve-style.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
