openapi: 3.2.0
info:
  title: Skimmer Public Bodies of Water API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Bodies of Water
  description: Pools and other bodies of water Skimmer services.
paths:
  /BodiesOfWater:
    get:
      tags:
      - Bodies of Water
      summary: List bodies of water
      responses:
        '200':
          description: An array of bodies of water.
      operationId: getBodiesOfWater
      x-operation-id-source: derived
    put:
      tags:
      - Bodies of Water
      summary: Update a body of water
      responses:
        '200':
          description: The updated body of water.
      operationId: putBodiesOfWater
      x-operation-id-source: derived
    post:
      tags:
      - Bodies of Water
      summary: Create a body of water
      responses:
        '201':
          description: The created body of water.
      operationId: postBodiesOfWater
      x-operation-id-source: derived
  /BodiesOfWater/search:
    get:
      tags:
      - Bodies of Water
      summary: Search bodies of water
      parameters:
      - $ref: '#/components/parameters/Sorts'
      - $ref: '#/components/parameters/Filters'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A filtered, sorted, paginated page of bodies of water.
      operationId: getBodiesOfWaterSearch
      x-operation-id-source: derived
  /BodiesOfWater/{id}:
    get:
      tags:
      - Bodies of Water
      summary: Get one body of water by ID
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: A single body of water.
      operationId: getBodiesOfWaterById
      x-operation-id-source: derived
    delete:
      tags:
      - Bodies of Water
      summary: Delete a body of water
      parameters:
      - $ref: '#/components/parameters/IdPath'
      responses:
        '204':
          description: Deleted.
      operationId: deleteBodiesOfWaterById
      x-operation-id-source: derived
components:
  parameters:
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
    Filters:
      name: filters
      in: query
      required: false
      description: Sieve-style filter expression using operators such as ==, !=, >, <, >=, <=, @= (contains), _= (starts with), _-= (ends with), and their case-insensitive (*) and negated (!) variants. Combine with commas (e.g. BillingState==TX,BillingCity==Houston).
      schema:
        type: string
    Sorts:
      name: sorts
      in: query
      required: false
      description: Comma-delimited sort fields; prefix a field with '-' for descending (e.g. -CreatedAt). Sieve-style.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
    IdPath:
      name: id
      in: path
      required: true
      description: Resource identifier.
      schema:
        type: string
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
