openapi: 3.0.3
info:
  title: Skimmer Public Bodies of Water Routes API
  description: 'The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software. It exposes the pool-service company''s operational data - customers, bodies of water, service locations, work orders and work order types, technician routes, quotes, invoices, billing, products and product categories, and users - over REST at https://publicapi.getskimmer.com.


    Access is sales-led: the API is available only on Skimmer''s top ("Owning the Market" / Enterprise) tier and is provisioned by Skimmer''s team, not through self-service signup. Every request is authenticated with a per-account API key sent in the `skimmer-api-key` header. The API is rate limited to 500 requests per minute per key; exceeding it returns 429 with a Retry-After header.


    NOTE: Path names, HTTP methods, the base URL, the auth header, and the Sieve-style search parameters below are taken from Skimmer''s public developer portal (devportal.getskimmer.com). Request and response BODY schemas are MODELED by API Evangelist from resource descriptions - Skimmer does not publish a machine-readable OpenAPI document publicly, and full field-level schemas are behind the sales-led onboarding. Treat property lists as representative, not authoritative.'
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Routes
  description: Technician routes of service stops by date.
paths:
  /Routes/GetTechRoute:
    get:
      tags:
      - Routes
      summary: Get a technician's route for a date
      parameters:
      - name: TechId
        in: query
        required: true
        description: Identifier of the technician (user).
        schema:
          type: string
      - name: ServiceDate
        in: query
        required: true
        description: Service date (date).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: The technician's ordered route of stops for the date.
  /Routes/GetAllRoutesForDay:
    get:
      tags:
      - Routes
      summary: Get all technician routes for a date
      parameters:
      - name: ServiceDate
        in: query
        required: true
        description: Service date (date).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: All technicians' routes for the given date.
components:
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
