openapi: 3.2.0
info:
  title: Skimmer Public Routes API
  description: The Skimmer Public API is the enterprise integration surface for Skimmer, pool-service business management software.
  version: '1.0'
  contact:
    name: Skimmer
    url: https://www.getskimmer.com
servers:
- url: https://publicapi.getskimmer.com
  description: Skimmer Public API (production)
security:
- skimmerApiKey: []
tags:
- name: Routes
  description: Technician routes of service stops by date.
paths:
  /Routes/GetTechRoute:
    get:
      tags:
      - Routes
      summary: Get a technician's route for a date
      parameters:
      - name: TechId
        in: query
        required: true
        description: Identifier of the technician (user).
        schema:
          type: string
      - name: ServiceDate
        in: query
        required: true
        description: Service date (date).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: The technician's ordered route of stops for the date.
      operationId: getRoutesGetTechRoute
      x-operation-id-source: derived
  /Routes/GetAllRoutesForDay:
    get:
      tags:
      - Routes
      summary: Get all technician routes for a date
      parameters:
      - name: ServiceDate
        in: query
        required: true
        description: Service date (date).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: All technicians' routes for the given date.
      operationId: getRoutesGetAllRoutesForDay
      x-operation-id-source: derived
components:
  securitySchemes:
    skimmerApiKey:
      type: apiKey
      in: header
      name: skimmer-api-key
      description: Per-account Skimmer Public API key, issued via sales-led onboarding.
